.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundImage{
  max-width: 100%;
  min-width: 50%;
  min-height: 50%;
  height: auto;
}

.summaryTitle{
  position: relative;
}

.summarySubtitle{
  position: relative;
  top: -9px;
}

.summaryText{
  position: relative;
  top: 50px;
}

.imageText{
  position: absolute;
  top: 200px;
  left: 50px;
}

.imageSpan{
  color: white;
  font: bold 45px Helvetica;
  letter-spacing: px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
}

.anchor{
  font-size: 0px;
}

.skillCategoryTitle{
  font-size: 16px;
  font-weight: bold;
}

.skillCategoryText{
  font-size: 14px;
}

.darkBackground{
  color: white;
}

.summaryTitle{
  font-weight: bold;
}