.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  overflow-x: hidden;
}

.backgroundImage{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.introTitle{
  position: absolute;
  text-align: center;
  color: black;
  padding-top: 30%;
  padding-left: 5%;
  font: bold 100px Helvetica;
  line-height: 0px;
}

.introSubtitle{
  position: absolute;
  text-align: center;
  color: black;
  padding-top: 40%;
  padding-left: 5%;
  font: bold 60px Helvetica;
  line-height: 0px;
}

.imageSpan{

}

.summaryText{
  position: relative;
  top: 50px;
}

.imageTextContainer{
  position: relative;
}

.oldImageSpan{
  color: white;
  font: bold 45px Helvetica;
  letter-spacing: px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
}

.anchor{
  font-size: 0px;
}

.skillCategoryTitle{
  font-size: 16px;
  font-weight: bold;
}

.skillCategoryText{
  font-size: 14px;
}

.whiteText{
  color: white;
}

.darkBackground{
  background-color: black;
}

.summaryTitle{
  font-weight: bold;
}

.bwLogo{
  filter: grayscale(100%);
}

.footerSmall{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tableImageWithLink{
  max-width: 50%;
  cursor: pointer;
}

.tableImageNoLink{
  max-width: 50%;
  filter: grayscale;
  opacity: 0.2;

}

.pageAnchor{
  padding-bottom: 100px;
}